<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" verbose="1">
<listeners>
    <listener class-name="com.api.listeners.AlterListener"/>
    <listener class-name="com.api.listeners.XmlTestListener"/>
    <listener class-name="com.api.listeners.XmlSuiteListener"/>
</listeners>

<parameter name="isDebug" value="false"/>
<parameter name="module" value=""/>
<parameter name="component" value="auto_test"/>
<parameter name="scenario" value="user_login"/>
<parameter name="scenarios" value=""/>
<parameter name="ids" value=""/>
<parameter name="runId" value=""/>
<parameter name="releaseVersionList" value="1.0.0"/>
<parameter name="sanityOnly" value="false"/>
<parameter name="labels" value=""/>

<test name="test" preserve-order="false">
    <classes>
        <class name="com.api.testcases.TestRunFactory"/>
    </classes>
</test>
</suite>